PORT=3009
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
PRIVATE_KEY_FILE= # jwt/private.key
PUBLIC_KEY_FILE= # jwt/public.key
SECRET_API_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_PROJECT_ID=
LANGUAGE_CODE= # 'id-ID'
TYPEORM_SEEDING_SEEDS= # 'src/database/seeds/**/*{.ts,.js}'
REDIS_HOST= # 'localhost'
REDIS_PORT= # 6379
OUTPUT_CONTEXT_LIFESPAN= # 5
